.block {
    padding:0 0 2rem;
	&__desc {
		background-color: $accent_2;
	    color: $white_0;
	    display: block;
	    font-size: 1rem;
	    margin-bottom: 2rem;
	    text-align: center;
	    @include for-tablet-up {
	    	margin-bottom: 0;
		    padding: 5.875rem 1.25rem;
	    }
	}
}