.block {
    padding:0 0 2rem;
    &__wrapper {

    }
    &__content {
    	align-items: center;
		display: flex;
		flex-wrap:wrap;
    }
    &__item {
		background-color: $accent_2;
		display: flex;
		margin-right: .25rem;
		height: 5rem;
	    width: 47.5%;
		align-items: center;
		@include for-tablet-up {
			width: 19.25%;
		}
    }
	&__desc {
	    color: $white_0;
	    display: inline-block;
	    font-size: 1.3725rem;
	    font-weight: 600;
	    text-align: center;
	}
}