.block {
    padding:0 0 2rem;
    &__wrapper {

    }
    &__content {
    	align-items: center;
		display: flex;
		flex-direction: column;
		@include for-tablet-up {
			flex-direction: row;
		}
    }
    &__item {
		background-color: $accent_2;
		display: block;
		margin-right: .25rem;
		min-height: 2rem;
		width: 75%;
		@include for-tablet-up {
			width: 19.25%;
		}
    }
	&__desc {
	    color: $white_0;
	    display: block;
	    font-size: 1.3725rem;
	    font-weight: 600;
	    text-align: center;
	}
}