.featured {
	background-color: $eggshell;
	.container-fluid {
	    padding-left: 0;
	    padding-right: 0;
	}	
	.row:nth-of-type(odd) {
	    flex-direction: row-reverse;
	}
	&__content {
		color:$accent_13;
		padding:5rem;
		h2 {
			color:$accent_1;
		}
	}
	&__image {
		@include has-bg (center, center);
	}
}