.gencontent {
	&__title{

	}
	&__desc{
		padding-left:1rem;
		padding-right:1rem;
	}
	&__boxes{
		&--item {

		}
		&--icon {
			display:block;
			svg {
				width:3rem;
				height:auto;
			}
		}
		&--title {
			display:block;
			font-size: 1.125rem;
			font-weight: 600;
			letter-spacing: 0;
		    line-height: 2;
			text-transform: none;
		}
		&--desc {
			display:block;
		}
	}
}