.gencontent {
	&__title{

	}
	&__desc{
		padding-left:1rem;
		padding-right:1rem;
	}
	&__boxes{
		&--item {

		}
		&--icon {
			display:block;
			svg {
				width:3rem;
				height:auto;
			}
		}
		&--title {
			display:block;
		}
		&--desc {
			display:block;
		}
	}
}