.imagebar {
	margin-top:130px;
	background-color: $accent_1;
	&__wrapper {
	}
	&__content {
	    display: flex;
	    flex-direction: column;
	    @include for-tablet-up {
		    flex-direction: row;
	    }
	}
	&__image {
		margin-top:-130px;
		max-width:100%;
		object-fit: contain;
		@include for-tablet-up {
			width:47.5%;
		}
	}
	&__details {
		color:$alternate;
		display: flex;
		flex-direction: column;
		padding: 3rem;
		@include for-tablet-up {
			width:47.5%;
		}
	}
	&__button {
	    margin-top: 2rem;
	    margin-bottom: 1rem;
	}
}