.ipc {
	background-color: $white_4;
	.container-fluid {
	    padding-left: 0;
	    padding-right: 0;
	}	
	.row:nth-of-type(odd) {
	    flex-direction: column-reverse;
	    @include for-tablet-up {
	    	flex-direction: row-reverse;
	    }
	}
	&__title {
		display: block;
	    margin-bottom: 2rem;
	    padding-bottom: 1rem;
	    position: relative;
	    &--text {
			color:$accent_1;
		    display: block;	    
		    font-weight: 500;
		    line-height: 1.2;
		    margin-bottom: .5rem;
		    padding-bottom: .5rem;
		    position: relative;
			@include title-bottom($accent_2);
	    }
	}
	&__content {
		max-width: 39.8125rem;
		padding:2rem 5rem;
		@include for-tablet-up {
			padding: 5rem;
		}		
	}
	&__desc {
		color:$gray_6;
		display: block;
	}
	&__image {
		display: inline-block;
		@include has-bg (center, center);
		@include for-phone-only {
			padding-bottom:1rem;
			padding-top:3rem;
		}
	}
}