section {
	&:not(.banner):not(.featured) {
		.container-fluid {
		    max-width: 1360px;
		}	
	}
}
.main {
	padding-bottom:3.25rem;
	&__content {
	    color:$led;
	    font-size: 1.0625rem;
	    line-height: 2;
	}
	&__title {
		color: $base;
		font-size:2.8125rem;
		font-weight: 700;
		letter-spacing: 0px;
		padding-top: 3.75rem;
		padding-bottom: 1.875rem;
		text-transform: none;
	}
	&__thumbnail {
		margin-bottom:1.5rem;
	}
}