$info_1:#53a4d6;
$info_2:#4cc4ba;
$info_3:#ef6969;
$info_4:#7083d8;

.infoblocks {
	&__content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	&__item {
		color:$alternate;
		display: flex;
		flex-flow: column;
	    margin: .25rem;
	    padding: 2.5rem;
	    position: relative;
	    width:100%;
		&:nth-of-type(1), &:nth-of-type(5) {
			background-color: $info_1;
		}
		&:nth-of-type(2), &:nth-of-type(6) {
			background-color: $info_2;
		}
		&:nth-of-type(3), &:nth-of-type(7) {
			background-color: $info_3;
		}
		&:nth-of-type(4), &:nth-of-type(8) {
			background-color: $info_4;
		}
		@include for-tablet-up {
		    width: 32.5%;
			&:nth-of-type(4), &:nth-of-type(9), &:nth-of-type(5), &:nth-of-type(10) {
			    width: 49.125%;
			}			
		}
		&:before {
			border: .0625rem solid $alternate;			
			content: '';
			display: block;
			height: 97%;
			left: 1.5%;
			position: absolute;
			top: 1.5%;
			width: 97%;
		}
	}
	&__icon {
		display: block;
	    margin-bottom: 30px;
	    margin-top: 5px;
		text-align:center;
		svg {
			fill:$alternate;
			height:auto;
			width: 3rem;
		}		
	}
	&__title {
	    font-size: 1.1875rem;
	    font-weight: 700;
	    margin-bottom: 10px;
	}
	&__content {
		font-size:0.75rem;
		line-height: 1.7;
	}
}