.infoblocks {
	&__content {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		width: 100%;
	}

	&__item {
		align-items: center;
		display: flex;
		flex-flow: column;
		padding: .9375rem;
		width: 33%;
		&:nth-of-type(4) {
		    width: 50%;
		}
		&:nth-of-type(5) {
		    width: 50%;
		}
	}
	&__icon {
		display: block;
	    margin-bottom: 30px;
	    margin-top: 5px;
		text-align:center;
		svg {
			height:auto;
			width: 3rem;
		}		
	}
	&__title {
	    font-size: 1.1875rem;
	    font-weight: 700;
	    margin-bottom: 10px;
	}
	&__content {
		font-size:0.75rem;
		line-height: 1.7;
	}
}