.quotes {
	&__wrapper {
		
	}
	&__title {
		display: block;
		margin-bottom: 2.5rem;
		position:relative;
		@include title-line($gray_7);
		&--text {
			color:$accent_1;
			@include title-text($white_0);
			font-size: 1.375rem;
			font-weight: 600;
			letter-spacing: 0px;
			text-transform: none;			
		}		
	}
	&__content {
		color: $accent_2;
		font-size: 21px;
		margin-bottom: 2.5rem;
		text-transform: none;
	}
	&__desc	 {
		
	}
}