.testimonial {
	&__item {
    padding-right: 2.25rem;
	position:relative;
		&:after {
			content:'”';
			font-family: Georgia, serif;
			font-size:3.75rem;
			line-height: 1;
			position:absolute;
			right:0;
			top:0;
		}
	}
	&__quote {
		color:$gray_7;
		font-family:$tertiary;
		font-size:0.9375rem;
		font-style: italic;
		line-height: 1.7;
		text-align: right;
	}
	&__author {

	}
}