.testimonial {
	&__item {
	padding-right:1rem;
	position:relative;
		&:after {
			content:'&#8221;';
			font-family: Georgia, serif;
			font-size:3.75rem;
			position:absolute;
			right:0;
			top:0;
		}
	}
}