.text_right {
	background-color: $white_3;
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: right;	
	&__title {

	}
	&__desc {
	    font-size: 1.1875rem;
	    line-height: 1.7;
	    margin-bottom: 1.25rem;
	}
}