.tiled {
    padding-bottom: 3rem;
    padding-top: 3rem;
	&__wrapper {

	}
	&__item {
		border: 0;
		margin-bottom: 2rem;
	}
	&__image {

	}
	&__content {

	}
	&__title {

	}
	&__desc {

	}
	&__button {

	}
}