.twoColumns {
	padding-bottom: 3rem;
	padding-top: 3rem;
	&__wrapper {
	}
	&__main {
		h3 {
			color:$black_1;
		    font-size: 22px;
		    font-weight: 600;
		    letter-spacing: 0px;
		    text-transform: none;			
		}
		font-size: 1rem;
	    text-transform: none;
	    color: $outline;		
	}
	&__flip {
		&--title {			
		}
		&--icon {
			svg {
				height:auto;
				width:4rem;
			}
		}
		&--content {
		}
	}
	&__sidebar {
	}
	&__image {
		&--img {
		}		
	}
	&__article {
		&--title {
		}
		&--icon {
			svg {
				height:auto;
				width:4rem;
			}
		}
		&--content {
		}
	}
}