.twoColumns {
	padding-bottom: 3rem;
	padding-top: 3rem;
	&__wrapper {
	}
	&__main {
	}
	&__flip {
		&--title {
		}
		&--icon {
			svg {
				height:auto;
				width:1rem;
			}
		}
		&--content {
		}
	}
	&__sidebar {
	}
	&__image {
		&--img {
		}		
	}
	&__article {
		&--title {
		}
		&--icon {
			svg {
				height:auto;
				width:1rem;
			}
		}
		&--content {
		}
	}
}