.twoColumns {
	padding-bottom: 3rem;
	padding-top: 3rem;
	&__wrapper {
	}
	&__main {
	    &--content {
		    color: $outline;
		    display: block;
			font-size: 1rem;
		    line-height: 1.7;
	        margin-bottom: 1.25rem;
		    text-transform: none;
			h3 {
				color:$black_1;
				padding-bottom: 2.0625rem;
			    font-size: 1.375rem;
			    font-weight: 600;
			    letter-spacing: 0;
		        margin-bottom: 20px;
			    text-transform: none;
			}
	    }
	}
	&__flip {
		background-color: $accent_2;
	    border-radius: 3px;
	    border-width: 0;
	    color: $white_0;
	    display: block;
	    fill: $white_0;
	    padding: 3.125rem 2.5rem 1.875rem 3.125rem;
		&--title {			
		}
		&--icon {
			svg {
				height:auto;
				width:4rem;
			}
		}
		&--content {
		}
	}
	&__sidebar {
	}
	&__image {
		&--img {
		}		
	}
	&__article {
		&--title {
		}
		&--icon {
			svg {
				height:auto;
				width:4rem;
			}
		}
		&--content {
		}
	}
}