.wsb {
	&__wrapper {
	    display: grid;
	    grid-template-columns: 2fr 1fr;
	    grid-gap: 1rem;
	    height:50vh;
	    margin-left: auto;		
	    margin-right: auto;		
		width:85rem;
	}
	&__first {
		background-color:red;
	}
	&__second {
		background-color:green;
	}
	&__third {
		background-color:blue;
	}
}