.schedule__table {
	@include for-tablet-up {
		.schedule__headers {
			background-color: $accent_2;
			color:$alternate;
			font-size: 1rem;
			font-weight: 400;
		}
	}
	.schedule__data {
		background-color:$accent_5;
		&:first-of-type:before {
		    margin-right: 0;
		}
	}
}