.base {
	background-color: $accent_6;
    color: $alternate;
    padding-bottom: 2.125rem;
    padding-top: 2.125rem;
    li {
    	a {
    		color:$accent_7;
		    margin-bottom: .5rem;
    	}
    }
    &__info {
    	p, li, a {
			color:$accent_7;
			font-size:90%;
    	}
    }
    &__links {
    	&--title {
		    border-bottom-color: $accent_4;
		    border-bottom-style: solid;
		    border-bottom-width: 2px;
			font-size: 1.0675rem;
			font-weight: 700;
		    padding-bottom: 15px;
		    margin-bottom: 26px;    		
    	}
    }
}