.base {
	background-color: $accent_6;
    color: $alternate;
    padding-bottom: 2.125rem;
    padding-top: 2.125rem;
    &__info {
    	p, li {
			color:$accent_7;
			font-size:90%;
    	}
    }
    &__links {
    	&--title {
		    border-bottom-color: $accent_2;
		    border-bottom-width: 2px;
		    border-bottom-style: solid;
		    padding-bottom: 15px;
		    margin-bottom: 26px;    		
    	}
    }
}