.base {
	background-color: $black_1;
    color: $alternate;
    padding-bottom: 2.125rem;
    padding-top: 2.125rem;
    &__info {
        @include for-tablet-up {
            border-bottom: 2px solid $accent_2;
        }
    }
    li {
    	a {
    		display: inline-block;
    		color:$gray_3;
		    margin-bottom: .5rem;
    	}
    }
    &__info {
    	p, li, a {
			color:$gray_3;
			font-size:90%;
    	}
    }
    &__links {
    	&--title {
		    border-bottom: 2px solid $accent_2;
			font-size: 1.0675rem;
			font-weight: 500;
		    padding-bottom: 15px;
		    margin-bottom: 26px;    		
    	}
    }
}