.boilerplate {
	background-color:$base;
	color:$alternate;
	padding-top:2rem;
	padding-bottom:1.5rem;
	p {
		margin-bottom: 0;
		margin-block-end: 0;
	}
}
.copyright {
	font-size:.85rem;
	padding: .25rem;
	@include for-phone-only {
		text-align: right;
	}
}