.boilerplate {
	background-color:$base;
	color:$white_1;
	p {
		color:$gray_3;
		margin-bottom: 0;
		margin-block-end: 0;
		font-size:.9rem;
		padding: .75rem 0;
	}
	.social {
		&__link {
			svg {
				height: .9rem;				
				fill: $accent_2;
				width: .9rem;
			}
		}
	}
}
.copyright {
	font-size:.85rem;
	padding: .25rem;
	@include for-phone-only {
		text-align: right;
	}
	p {
		display:inline;
	}
}