.rotating {
	background-color: $gray_2;
	padding-bottom:3rem;
	padding-top:3rem;
	&__wrapper {
		padding-left:0;
		padding-right:0;
	}
	&__content {
		padding-left:0;
		padding-right:0;
	}
	&__item {
	}
	&__image {

	}
	&__nav {
		&--next {}
		&--prev {
			transform: rotate(-180deg);
		}
	}
}