.mainNav {
	background-color:$alternate;
	padding-top:0;
	padding-bottom:0;	
	&__search {
		display: inline-flex;
		img {
			width: 1rem;
		}
	}
	&__logo {
		margin-right: 0;
		text-transform: uppercase;
		@include for-phone-only {
			font-size: .9rem;
			margin-bottom: .75rem;
			margin-right:1rem;
			width:65%;
		}	
	}
	&__toggler {
		&--item {
			background-color: $base;
			display: block;
			height: 2px;
			margin-bottom: 3px;
			width: 1.4rem;
			&:nth-of-type(1) {
				transform: rotate(45deg);
				transform-origin: 1px 3px;
				width: 1.5rem;
			}
			&:nth-of-type(2) {
				transform: rotate(-360deg) scale(0);
			}
			&:nth-of-type(3) {
				transform: rotate(-45deg);
				transform-origin: 9px 2px;
				width: 1.475rem;
			}			
		}
		&.collapsed {
			span {
				&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4){
					transform: none;
					width: 1.4rem;
				}
			}
		}
		&:not(.collapsed) {
		    position: absolute;
			right: 1rem;
			top: 1rem;
		    z-index: 101;
		    span {
		    	background-color:$alternate;
		    }
		}
		&:focus {
			border:0;
			outline:0;
		}
	}	
	.nav {
		&-link {
			color:$accent_7;
			font-size:1rem;
			font-weight: 500;
			padding-left: .75rem;			
			padding-right: .75rem;
			text-transform:capitalize;
			transition: all .3s ease-in-out;
			@include for-phone-only {
			    border-bottom: 1px solid $accent_7;
			    padding:1.0675rem .75rem;
			}
			@include for-tablet-up {
				color:$accent_3;
				font-size:1rem;
			    line-height: 5.25rem;
				padding-left:1.5rem;
				padding-right:1.5rem;
			}
			&:hover {
				color:$accent_2;
			}
			&.active {
				color:$accent_2;
			}
		}
	}
	.active {
		.nav-link {
			color:$alternate;
			@include for-tablet-up {
				color:$accent_2;
			}
		}
	}
}
.navbar-collapse {
	@include for-phone-only {
		background-color:$base;
	    height: 85vh;
	    left: 0vw;
	    padding:2rem;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    z-index:100;
	}
}

/* hover dropdown menus */
@include for-tablet-below {
    .navbar-hover .show > .dropdown-toggle::after{
        transform: rotate(-90deg);
    }
}
@include for-tablet-up {
	.navbar-collapse ul li{position:relative;}
	.navbar-collapse ul li:hover> ul{display:block}
	.navbar-collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
	.navbar-collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
    /*.navbar-hover .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}*/
}