.mainNav {
	background-color:$white_1;
	padding-top:0;
	padding-bottom:0;	
	&__search {
		display: inline-flex;
		img {
			width: 1rem;
		}
	}
	&__brand {
		padding-top:.75rem;
		display:flex !important;
		@include for-tablet-up {
			padding-top:1rem;
		}
	}
	&__logo {
		margin-right: 0;
		text-transform: uppercase;
		@include for-phone-only {
			font-size: .9rem;
			margin-bottom: .75rem;
			margin-right:1rem;
		    width: 380px;
		    max-height:100px;
		}
		@include for-tablet-up {
			height: 69px;
		    max-width: 380px;
		    width: 380px;
		}
	}
	&__toggler {
		&--item {
			background-color: $base;
			display: block;
			height: 2px;
			margin-bottom: 3px;
			width: 1.4rem;
			&:nth-of-type(1) {
				transform: rotate(45deg);
				transform-origin: 1px 3px;
				width: 1.5rem;
			}
			&:nth-of-type(2) {
				transform: rotate(-360deg) scale(0);
			}
			&:nth-of-type(3) {
				transform: rotate(-45deg);
				transform-origin: 9px 2px;
				width: 1.475rem;
			}			
		}
		&.collapsed {
			span {
				&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4){
					transform: none;
					width: 1.4rem;
				}
			}
		}
		&:not(.collapsed) {
		    position: absolute;
			right: 1rem;
			top: 1rem;
		    z-index: 101;
		    span {
		    	background-color:$white_1;
		    }
		}
		&:focus {
			border:0;
			outline:0;
		}
	}
	&__container {
		@include for-phone-only {
			background-color:$base;
		    height: 85vh;
		    left: 0vw;
		    padding:2rem;
		    position: absolute;
		    top: 0;
		    width: 100%;
		    z-index:100;
		}
	}
	.nav {
		&-link {
			color:$gray_3;
			font-size:1rem;
			font-weight: 500;
			padding-left: .75rem;			
			padding-right: .75rem;
			text-transform:capitalize;
			transition: all .3s ease-in-out;
			@include for-phone-only {
			    border-bottom: 1px solid $gray_3;
			    padding:1.0675rem .75rem;
			}
			@include for-tablet-up {
				color:$accent_3;
				font-size:1rem;
			    line-height: 5.25rem;
				padding-left:1.5rem;
				padding-right:1.5rem;
			}
			&:hover {
				color:$accent_2;
			}
			&.active {
				color:$accent_2;
			}
			@include nav-line($accent_2);
			&:hover:before {
				visibility: visible;
				transform: scaleX(1);
			}			
		}
	}
	.active {
		.nav-link {
			color:$white_1;
			@include for-tablet-up {
				color:$accent_2;
				@include nav-line($accent_2);
			}
		}
	}
}
@include for-tablet-up {
	.navbar-collapse ul ul {
		top:95%;
	}
}

@include for-phone-only {
	.dropdown-item {
	    border-bottom: 1px solid #ababab;
	    padding: .6275rem .75rem .5rem;
	    font-size: .85rem;
	}
	.menu-item:first-of-type .dropdown-item {
		padding-top:0;
	}
	.menu-item:last-of-type .dropdown-item {
		border-bottom:0;
	}
}

nav {
	.wrapper {
		flex-direction: row;
		height:90px;
	}
}