.main__nav {
	&--search {
		display: inline-flex;
		img {
			min-width: 1rem;
		}
	}
	.nav {
		&-link {
			color:$accent_1;
			font-size:1rem;
			font-weight: 500;
			padding-left: .75rem;			
			padding-right: .75rem;
			text-transform:uppercase;
			transition: all .3s ease-in-out;
			@include for-tablet-up {
				font-size:1rem;
			    line-height: 5.25rem;
				padding-left:1.5rem;
				padding-right:1.5rem;
			}
			&:hover {
				color:$accent_2;
			}
			&.active {
				color:$accent_2;
			}
		}
		&bar-collapse {
		    height: 85vh;
		    left: -100vw;
		    padding: 0 2rem 2rem;
		    position: absolute;
		    top: 15vh;
		    width: 100%;
		}
	}
}