.subsites {
	background-color: $bei_1;
	color:$gray_1;
	&__wrapper {
	    flex-direction: row-reverse;
		@include for-phone-only {
		    padding-left: 0;
		    padding-right: 0;		
		}
	}
	&__content {}
	&__nav {
		align-items: flex-start;
		flex-direction: row;
		@include for-phone-only {
			.nav-link {
				padding-left: .5rem;
				padding-right: .5rem;				
			}
		}
		a {
			color: $base;
			display: inline-block;
			font-size: .75rem;
			padding: 1.125rem .75rem;
			text-transform: uppercase;
			@include for-phone-only {
				font-size: .5rem;
			}
		}
		li {
		    a {
			    color: $white_1;
			    font-weight: 500;
			    letter-spacing: .125rem;
			    text-decoration: none;
				&:hover {
				    color: $white_1;
				}			    
		    }
		    &:first-of-type{
				a {
					background-color:$white_1;
					&:hover {
					    background-color:$gray_8;
					}
				}
			}				
		    &:last-of-type{
				a {
					background-color:$accent_2;
					&:hover {
					    background-color: $accent_2-lt;
					}
					@include for-phone-only {
					    margin-top:.35rem;
					}
				}
			}
		}
	}
}