.single-programs {
	@import 'blocks';
	@import 'tabs';
	@import 'calendars';
	@import 'schedules';
}
.main__content {
	.button {
		&__green {
			background-color: $bei_5;
			border-color:transparent;
			color:$gray_8;
		}
	}
}