@import '../../../components/subjects/subjects';

.subjects {
    background-color: $accent_1;
    color: $white_1;
    fill: $accent_2;
    padding-bottom: 2rem;		
    padding-top: 4rem;
    @include for-tablet-up {
	    padding-bottom: 7rem;
    }
	&__section {
        @include title-bottom($accent_2);
	    margin-bottom: 2.8725rem;
	}
	&__item {
		margin-bottom: 1rem;
	}
    &__img {
    	margin-bottom:1.8125rem;
    }
    &__title {
    	font-size: 1.25rem;
    	margin-bottom: 1rem;
    }
    &__desc {
    	font-size: .85rem;
    }
}