@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/animation';

@import 'global/typography';
@import 'global/header/index';
@import 'global/footer/index';
@import 'components/nav/index';
html {
	min-height: 100vh;
	body {
		width: 100%;
		height:100%;
		.row {
			margin-left:0;
			margin-right:0;
		}
		main {
			padding-bottom: 2rem;
			@media (min-width:992px) {
				min-height:calc(100vh - 250px);
			}
			section {

			}
		}
	}	
}
@import 'components/forms/index';
@import 'components/tables/index';
@import 'components/gallery/index';
@import 'pages/home/index';