.documents {
	&__icon {
		display: inline-block;
	    height: 1rem;
	    width: 1rem;
	}
	&__link {
		color:$bei_1;
		font-size: .875rem;
		text-decoration: none;
		&:hover {
			color:$bei_4;
			text-decoration:none;
		}
	}
}