.plan {
	&__wrapper {}
	&__item {
	    display: inline-block;
	    width: 25%;
	}
	&__header {
		background-color: $bei_1;
		color:$white_1;
		padding: 2.0625rem 1.25rem;
		&--text {
		    font-size: 1.0625rem;
		    font-weight: bold;
		    text-transform: uppercase;
		    letter-spacing: .0625rem;
		    margin-bottom: .375rem;
		}
		&--desc {
			display:block;
			font-size:.875rem;			
		}
	}
	&__cost {
		display:block;
		font-size: 3.75rem;
		font-weight: 300;
		line-height: 1;
		margin: 0px .5rem;
		padding: 1.5625rem 1.25rem 2.5rem;
		vertical-align: middle;		
		sup {}
		small {
			font-size:1.0625rem;
		}
	}
	&__content {
	    padding: .675rem 1.25rem;
	}
	&__features {}
	&__footer {
		&--link {

		}
	}
}