.overview {
	padding-bottom: 2rem;
	padding-top: 2rem;
	&__list {
		padding-bottom: 2.8125rem;
		padding-left:0;
		list-style-type:none;
	}
	&__item {
		border-bottom:.0625rem solid $accent_5;
		margin-bottom: 0.8125rem;
	    padding-left: 1.25rem;
	    padding-right: 1.25rem;
		position: relative;
	}
	&__link {
		color: $led;
		display: block;
		padding-bottom: 0.8125rem;
		position:relative;
		&:hover {
			color:$accent_2;
			text-decoration: none;
		}
		&:after {
			content: url(../../sprites/arrow.svg);
		    filter: hue-rotate(45deg);
			height: 2rem;
		    position: absolute;
		    right: 0;
		    top: 5%;		
			width: 1rem;
		}
	}
	&__sub {
		background-color: $accent_1;
		color:$alternate;
		padding:3rem;
		&--title {
			font-size:1.25rem;
			margin-bottom:1.5625rem;
		}
		&--desc {
			font-size:0.9375rem;
			line-height: 1.7;
		}
		&--btn {
			display: block;
			margin-top: 2rem;
		}		
	}
}