.overview {
	padding-bottom: 2rem;
	padding-top: 2rem;
	&__list {
		padding-bottom: 2.8125rem;
		padding-left:0;
		list-style-type:none;
	}
	&__item {
		position: relative;
	}
	&__link {

	}
	.children {
		padding-left:0;
		padding-inline-start:0;
		list-style-type:none;
		li {
			a {
			    padding-left: 2.5rem;
			}			
		}
	}
	&__sub {
		background-color: $accent_1;
		color:$white_1;
		padding:3rem;
		&--title {
			font-size:1.25rem;
			margin-bottom:1.5625rem;
		}
		&--desc {
			font-size:0.9375rem;
			line-height: 1.7;
		}
		&--btn {
			display: block;
			margin-top: 2rem;
		}		
	}
}