.accordion {
	&__wrapper {

	}
	&__item {
		border:0;
	}
	&__header{
		background-color: transparent;
		border:0;
		font-size: .875rem;
	    font-weight: 600;
	    padding-left: 0;
		&--btn {
			align-items: center;
			border-bottom: 0;			
			color:$black_1;
		    cursor: pointer;
			display: flex;
		    letter-spacing: .0625rem;
		    text-transform: uppercase;
			text-decoration: none;
			text-transform: uppercase;
			&:before {
			    background-color:$white_3;
			    background-image:url('../../sprites/add.svg');
			    background-position: center center;
			    background-repeat: no-repeat;
			    content:'';
			    cursor:pointer;
			    display: inline-block;
			    background-size: 1rem;
			    padding: 1rem;
			    border: .0625rem solid $gray_3;
			    margin-right: 0.8125rem;
			}
			&[aria-expanded=true]{
				&:before {
					background-image:url('../../sprites/minus.svg');
				}
			}
		}
	}
	&__icon{

	}
	&__content{
		padding-left:3rem;
	}
	&__desc{

	}
	.section__title {
		margin-bottom:0;
	}
}