.accordion {
	&__wrapper {

	}
	&__item {
		border:0;
		margin-bottom: 1.25rem;
	}
	&__header{
		background-color: transparent;
		border:0;
		font-size: .875rem;
	    font-weight: 600;
		&--btn {
			border-bottom: 0;			
			color:$black_1;
		    cursor: pointer;
			display: block;
		    letter-spacing: .0625rem;
		    margin-bottom: 1.6875rem;
		    margin-top: 1.0625rem;
		    text-transform: uppercase;
			text-decoration: none;
			text-transform: uppercase;
			&[aria-expanded="true"]{
			  &:before {
			  	background-color:;
			  	content:'';
			  	display:block;
			  	left:-1rem;
			  	position:absolute;
			  	top:0;
			  }
			}			
		}
	}
	&__icon{

	}
	&__content{

	}
	&__desc{

	}
}