.accordion {
	&__wrapper {

	}
	&__item {
		border:0;
		margin-bottom: 1.25rem;
	}
	&__header{
		background-color: transparent;
		border:0;
		&--text {
			
		}
		&--btn {
			color:$black_1;
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			border-bottom: 0;			
		}
	}
	&__icon{

	}
	&__content{

	}
	&__desc{

	}
}