// Color 
$black:rgba(16,16,16,1);
$white:rgba(255,255,255,1);
$gray:rgba(216,216,216,1);
$smoke:rgba(236,236,236,1);

// Beautiful-spring

$cool_water: rgba(113,193,242, 1);
$sky: rgba(179,235,242, 1);
$grass: rgba(73,114,12, 1);
$leaf: rgba(131,165,9, 1);
$tangerine: rgba(242,72,33, 1);

// socials
$facebook: rgba(59, 89, 152, 1);
$twitter: rgba(29, 161, 242, 1);
$youtube: rgba(255, 0, 0, 1);
$linkedin: rgba( 0, 119, 181, 1);
$google: rgba(219, 68, 55, 1);
$instagram: rgba(195, 42, 163, 1);

$base:$black;
$alternate:$white;
$outline:$gray;
$placeholder:$smoke;

$accent_1:$cool_water;
$accent_2:$sky;
$accent_3:$grass;
$accent_4:$leaf;
$accent_5:$tangerine;