.banner {
	.container-fluid, .row {
	    padding-left: 0;
	    padding-right: 0;
	}
	&__title {
		font-family: $primary;
	    font-size: 5.1875rem;
	    font-weight: 600;
	}
	&__slide {
		
	}
	&__slide {
		
	}
	&__image {
		min-width: 100%;
		max-height:713px;
	}
}