.banner {
	.container-fluid, .row {
	    padding-left: 0;
	    padding-right: 0;
	}
	&__title {
		font-family: $primary;
	    font-size: 5.1875rem;
	    font-weight: 600;
	}
	&__slides {
		
	}
	&__slide {
		min-height:713px;
	}
	&__image {
		min-width: 100%;
	    z-index: 1;
	}
	&__caption {
		color: $alternate;
		left: 2rem;
		position: absolute;
		top: 37.25%;
		z-index: 4;
	}
}