.banner {
	.container-fluid, .row {
	    padding-left: 0;
	    padding-right: 0;
	}
	&__button {
	    border-color: $accent_2;
	    color: $accent_10;
	    &:hover{
	    	color:$accent_1;
	    }
	}
	&__caption {
		color: $alternate;
		left: 13%;
		position: absolute;
		top: 25%;
		z-index: 4;
	}
	&__image {
		min-width: 100%;
	    z-index: 1;
	}
	&__nav {
		width: 3.5rem;
		&--prev {
			img {
				transform: rotate(180deg);
			}			
		}
	}
	&__slide {
		max-height:713px;
	}
	&__slides {
		
	}
	&__subtitle {
		color: $white;
		line-height: 1.8725rem;
		font-family: $primary;
		font-size: 1.8725rem;
		font-weight: 300;
		letter-spacing: 0px;
		white-space: nowrap;
	}	
	&__title {
		font-family: $primary;
	    font-size: 5.1875rem;
	    font-weight: 600;
	}
}