.landing {
	color:$white_1;
	padding-bottom:3rem;
	padding-top:3rem;
	position:relative;
	@include has-bg(center, center);
	@include bg-before ($gray_2);
	@include banner-cover;
	@include for-tablet-up {
		padding-bottom:4.6875rem;
		padding-top:33.125rem;
	}
	&__content {
	    display: flex;
	    flex-direction: column;
	    @include for-tablet-up {
	    	flex-direction: row;
	    }
	}
	&__title {
		display:block;
		width:100%;
	    @include for-tablet-up {
			width:33.333%;
	    }
	    &--text {
	    	display:inline-block;
    	    border-bottom: 5px solid $accent_2;
    	    padding-bottom: 1.25rem;
	    }
	}
	&__desc {
		display:block;
		width:100%;
	    @include for-tablet-up {
			width:66.666%;
	    }
	}
}