.subbanner {
	background-color: $bei_1;
	&__wrapper {}
	&__row {}
	&__content {
	    padding-bottom: 3.25rem;
	    padding-top: 3.25rem;
		@include for-tablet-up {
		    padding-bottom: 4.25rem;
		    padding-top: 4.875rem;
		}
	}
	&__title {
		color: $white_1;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: .0625rem;
		margin-bottom: 0;
		@include for-tablet-up {
			font-size: 2.725rem;
		}
	}
}