.special {
	&__wrapper{}
	&__item{}
	&__image{
		width:100%;
	}
	&__title{
		display: block;
		&--txt {
			color:$white_1;
		}
	}
	&__desc{
	    display: block;
	    font-size: .875rem;
	    line-height: 1.75;
	    margin-bottom: 1rem;
	}
	&__button{
		display: block;
	}
	&__link{}
}