.news-brief {
	position:relative;
	@include for-phone-only {
		@include color-block($accent_1, 100%);
	}
	@include for-tablet-up {
		@include color-block($accent_1, 38%);
		&:after{
			right:0;
			width: 38%;
		}
	}
	&__title {
		font-size: 1.5rem;
		font-style: normal;
		font-weight:700;
		text-transform: none;
		letter-spacing: 0px;
		color: $accent_1;
	}
	&__link {
		font-size: 0.875rem;
		color: $accent_2;
	    display: inline-block;
	    margin-top: 8px;
	}
	.brief {
		padding: 5rem 3.125rem 0 0;
		&__image {
			display:block;
		    margin-bottom:3.125rem;
		}
		&__details {
			border: none;
			color:$accent_13;
			display:block;
			font-size:.8125rem;
			margin-bottom: 6px;
			padding-top: 0px;
			text-transform:uppercase;
			a {
				color:$accent_13;
			}
		}
		&__title {
			font-size: 1.1875rem;
			font-weight: 700;
			letter-spacing: 0px;
			margin-bottom: 20px;			
		}
		&__date {

		}
		&__author {

		}
		&__featured {
			padding-left: 0;
		}
		&__list {}
		&__item {
			margin-bottom: 1rem;
			&--image {
			    display: inline-block;
			    float: left;
			    margin-right: 1rem;				
			}
		}
	}
	.quick {
		color:$alternate;
		padding:6rem 0px 0px 4.0625rem;
		&__title {
			font-size: 1.5625rem;
			font-weight: 700;
			letter-spacing: 0;
			margin-bottom: 0;
			padding-bottom: 2.5rem;
			text-transform: none;
		}
		&__icon {
			display: inline-block;
			fill:$alternate;
			height:.75rem;
			width:.75rem;
		}
		&__list {
		    list-style-type: none;
		    padding-left: 0;
		}
		&__item {
			font-size: 1rem;
			font-weight: 600;
			letter-spacing: 0;
			text-transform: none;
		}
		&__link {
			color:$accent_2;		
			display:block;
			border-bottom:.0625rem solid $accent_5;
			padding:1.25rem;
		}
	}
}