.section-f1 {
	.subsites {
		background-color:$accent_2;
		&__nav {
			li {
				a {
					color:$white_1;
				}
			}
		    &:last-of-type{
				a {
					background-color:$accent_1;
				    color: $white_1;
					&:hover {
					    background-color: rgba($accent_1, .3);
					}
				}
			}			
		}
	}	
	.subbanner {
		background-color:$accent_2;
	}
}