.section-f1-student-resources {
	.subsites {
		background-color:$bei_3;
		&__nav {
			li {				
				a {
					color:$gray_8;
				}
				&:first-of-type{
					a {
						background-color:$bei_3;
						&:hover {
						    background-color: rgba($bei_3, .3);
						    color: $gray_8;
						}
					}
				}					
			    &:nth-of-type(2){
					a {
						background-color:$white_1;
					    color: $gray_8;
						&:hover {
						    background-color:$white_1;
						    color: $gray_8;
						}
					}
				}		
			}
		}
	}
}