.breadcrumbs {
    padding-top: 1.75rem;	
    padding-bottom: 1.75rem;	
	&__content {
		margin-bottom: 1.6275rem;
	}
	&__item {
		font-size: .875rem;
		color:$accent_2;
		margin:0;
		&:not(:last-of-type){
			&:after {
				color:$placeholder;
				content:'>';
				display: inline-block;
				margin:0 0.9375rem;
			}
		}
	}
	&__link {
		color:$placeholder;
	}
}