.breadcrumbs {
	&__content {
		padding-left:0;
		padding-right:0;
	}
	&__item {
		font-size: .875rem;
		color:$placeholder;
		&:not(:last-of-type){
			&:after {
				content:'>';
				display: inline-block;
				margin:0 0.9375rem;
			}
		}
	}
	&__link {
		color:$placeholder;
	}
}