body {
	header {
		background-color:$base;
		color:$alternate;
		padding-top:1rem;
		@media (min-width:786px) {
			padding-top:0;
		}
		div {
			&#logo {
				text-align: center;
				a {
					&.navbar-brand {
						margin-right: 0;
						@media (min-width: 786px) {
							margin-right:1rem;
						}
						img {
						}
					}		
				}				
			}
		}
	}	
}