html {
	min-height: 100vh;
}
body {
	width: 100%;
	height:100%;
}
.row {
	margin-left:0;
	margin-right:0;
}
:focus {
	outline:0;
}
.wrapper {
    display: flex;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;    
    margin-left: auto;
    margin-right: auto;
    width:100%;
    @include for-tv-up {
	    width: 1360px;
    }
}
.withBg {
    background-position: center center;
    background-size: cover;
}
.section {
    &__title {
        display: block;
        margin-bottom: 2.5rem;
        position:relative;
        &--text {
            color:$accent_1;
            @include title-text($white_0);
            font-size: 1.375rem;
            font-weight: 600;
            letter-spacing: 0px;
            text-transform: none;           
        }
        @include title-line($white_2);
        &:after {
            top: 1rem;
        }
    }
}
blockquote {
    color: $accent_2;
    font-size: 19px;
    line-height: 1.7;
    margin-bottom: 20px;
    text-transform: none;
}

a[href*="//"]:not([href*="ronmadriz.com"]) {
    &:after {
        color:inherit;
        content: '>';
        display:inline-block;
        margin-left:.5rem;
        text-decoration: none;
    }
}