@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
$primary: 'Poppins', sans-serif;

body {
	h1, h2, h3, h4, h5, h6 {}
	h1 {}
	h2 {}
	h3 {}
	p, li, dd, dt, blockquote, code, span, div, section, small, address {
		font-family: $primary;
	}
	p, li {
	}
	main {
		h1 {
		}
		h2, h3, h4 {
		    margin: 2rem 0;
		}
		p {
			margin-bottom:1.75rem;
		}
	}
}