.cta {
	padding-top: 2rem;
    padding-bottom: 2rem;
    &.withbg {
	    padding-top: 6rem;
	    padding-bottom: 6rem;
    }
	&__wrapper {

	}
	&__content {
		background-color:$white_1;
		color: $black_4;
		padding:4rem 2rem;
		text-align: center;
	}
	&__title {
		display:block;
	}
	&__details {
		display:block;
	    line-height: 2;
	    margin:1.25rem 0 2.25rem;
	}
	&__button {
		display:block;
		margin-top: 1.5rem;
	}
}