.ctaBg {
    padding-top: 15rem;
    padding-bottom: 15rem;
	&__wrapper {

	}
	&__content {
		background-color:$white_2;
		color: $black_4;
		padding: 6rem 4rem;
	}
	&__title {
		display:block;
	}
	&__details {
		display:block;
	}
	&__button {
		display:block;
	}
}