.cta {
    padding-top: 6rem;
    padding-bottom: 6rem;
	&__wrapper {

	}
	&__content {
		background-color:$white_1;
		color: $black_4;
		padding: 6rem 4rem;
	}
	&__title {
		display:block;
	}
	&__details {
		display:block;
	    line-height: 2;
	}
	&__button {
		display:block;
		margin-top: 1.5rem;
	}
}