@mixin for-phone-only {
  @media (max-width: 786px) { @content; }
}
@mixin for-tablet-up {
  @media (min-width: 786px) { @content; }
}
@mixin for-tablet-below {
  @media (max-width: 991px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-tv-up {
  @media (min-width: 1800px) { @content; }
}
@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}