@mixin for-phone-only {
  @media (max-width: 786px) { @content; }
}
@mixin for-tablet-up {
  @media (min-width: 786px) { @content; }
}
@mixin for-tablet-below {
  @media (max-width: 991px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-tv-up {
  @media (min-width: 1800px) { @content; }
}
@mixin button-big($bg,$bgtext) {
  background: $bg;
  font-size: 15px;
  color: $bgtext;
  padding: 12px 29px 17px 31px;
  text-transform: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;  
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}
@mixin has-bg ($pos_x, $pos_y) {
  background-repeat: no-repeat;
  background-position: $pos_x, $pos_y;
  background-size: cover;
}
@mixin bg-before ($bg-color) {
  &:before{
    background-color: rgba($bg-color, .3);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; 
  }
}

@mixin color-block-right {
  &:after {
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 33%;
      z-index: -1;
  } 
}