.nav-pills {
	 .nav-link {
	 	&.active {
	 		color:inherit;
	 		background-color: transparent;
	 	}
	 }
	 .nav-pills {
	 	 .show {
	 	 	&>.nav-link {
	 	 		color:inherit;
	 	 		background-color: transparent;
	 	 	}
	 	 }
	 }
}

a {
	&:hover {
		text-transform:none;
	}
}