// Color 
$white:#FEFEFE;
$eggshell:#f3f3f3;
$offwhite:#e6e6e6;

$gray:#838383;
$alto:#D8D8D8;
$smoke:#ababab;
$rainy_cloud:#b7b7b7;

$charcoal:#181818;
$chalkboard:#2d2d2d;
$darkness:#0a0a0a;
$sludge:#545454;
$slate:#444444;
$black:#101010;


// BEI Colors
$azure_radiance: #09f;
$bright_sun: #ffde42;
$mandy: #e44d74;
$malachite: #16e141;

// Template Colors
$midnight:#1b2434;
$navy: #163269;
$deep: #192f59;
$light: #d4e1f8;
$grass: #3db166;
$leaf: #5BC681;


// socials
$facebook: #3B5998;
$twitter: #1DA1F2;
$youtube: #FF0000;
$linkedin: #0077B5;
$google: #DB4437;
$instagram: #C32AA3;


$base:$black;
$alternate:$white;
$outline:$alto;
$placeholder:$smoke;


$accent_1:$deep;
$accent_2:$grass;
$accent_2-lt:$leaf;
$accent_3:$navy;
$accent_4:$light;
$accent_5:$offwhite;

// $accent_1:$azure_radiance;
// $accent_2:$mandy;
// $accent_3:$bright_sun;
// $accent_4:$malachite;

$accent_6:$charcoal;
$accent_7:$smoke;
$accent_8:$gray;
$accent_9:$rainy_cloud;
$accent_10:$chalkboard;
$accent_11:$darkness;