.section-english-for-refugees {
	.subsites {
		background-color:$bei_2;
		&__nav {
			li {
				a {
					color:$gray_8;
				}
				&:first-of-type{
					a {
						background-color:$bei_2;
					    color: $white_1;
						&:hover {
						    background-color: rgba($bei_2, .3);
						    color: $black_1;
						}
					}
				}
			    &:nth-of-type(3){
					a {
						background-color:$white_1;
					    color: $gray_8;
						&:hover {
						    background-color:$white_1;
						    color: $black_1;
						}
					}
				}				
			    &:last-of-type{
					a {
						background-color:$accent_1;
					    color: $white_1;
						&:hover {
						    background-color: rgba($accent_1, .3);
						}
					}
				}				
			}
		}
	}	
	.subbanner {
		background-color:$bei_2;
	}
}