.icons {
	&__item {
		margin-bottom: 1.875rem;
		@include for-desktop-up {
			margin-bottom: 2.125rem;
		}
	}
	&__title {
	    font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.55;
		margin-bottom: 1.375rem;
		text-transform: none;
	}
}