.icons {
	&__item {
		margin-bottom: 1.875rem;
		@include for-desktop-up {
			margin-bottom: 2.125rem;
		}
	}
	&__img {
		height:2.5rem;
		width:2.5rem;
	}
	&__title {
	    font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.55;
		margin-bottom: 1.375rem;
		text-transform: none;
	}
	&__desc {
		line-height: 1.7;
		margin-bottom: 20px;
		margin-top: 0;
	}
	&__button {
		display: inline-block;
		font-family: $primary;
		font-size:.875rem;
		font-style: normal;
	}
}