.tabbed {
	&__wrapper {
		background-color: $alternate;		
		padding-left: 0;
		padding-right: 0;		
		position: relative;
		top: -2.875rem;
	}
	&__items {
		box-shadow: 0 -6px 24px rgba($accent_11,0.09);
	}
	&__title {
		color:$accent_1;
		font-family: $primary;
		font-size: 1.125rem;
	    font-weight: 600;
	    text-transform: none;		
	}
	&__subtitle {
		color:$accent_9;
		font-size:1rem;
	}
	&__button {
		padding:2.125rem 1.875rem;
	}
	&__text {
		display: inline-block;
		text-align: left;
		width:75%;
	}
	&__icon {
		float: left;
		height: 2.5rem;
		width: 2.5rem;
	}
	&__content {}
	&__pane {
		&.active {
			display:flex;
		}
		> span {
			display:flex;
			flex-direction: column;
		}
	}
	&__image {
		@include for-tablet-up {
			width:50%;
		}
	}
	&__details {
		padding: 3rem;
		@include has-bg(center, center);
		@include bg-before($accent_1);
		@include for-tablet-up {
			width:50%;
		}
	}
}