.tabbed {
	&__wrapper {}
	&__item {}
	&__title {
		font-size: 1.125rem;
	    font-weight: 600;
	    text-transform: none;		
	}
	&__subtitle {}
	&__button {}
	&__image {
		max-height: 1rem;
	}
	&__content {}
	&__pane {}
}