.tabbed {
	&__wrapper {}
	&__item {}
	&__title {
		font-size: 1.125rem;
	    font-weight: 600;
	    text-transform: none;		
	}
	&__subtitle {
		color:$accent_9;
		font-size:1rem;
	}
	&__button {}
	&__text {
		display: inline-block;
		text-align: left;
		width:75%;
	}
	&__image {
		float: left;
		height: 2.5rem;
		width: 2.5rem;
	}
	&__content {}
	&__pane {}
}