.simple_tabs {
	background-color:$white_2;
	padding:3.75rem 0;
	&__title {
		margin-bottom: 2rem;
		position:relative;
		@include title-line($outline);
		&--text {
			@include title-text($white_2);
		}		
	}
	&__list {}
	&__item {
		@include for-tablet-up{
			padding:0;
		}		
	}
	&__link {
		background-color:$white_3;
		border: 0;
		border-radius: 0;
		color:$outline;
		font-size:.92375rem;
		font-weight: 700;
		letter-spacing: 0;
		margin-left: 0;
		padding:1.15rem .875rem;
		text-transform: none;
		@include for-tablet-up{
			font-size: 1.0625rem;
			padding: 1.5rem 2.5rem;
		}
		&.active {
			background-color: $white_1;
			color:$base;
		}
	}
	&__content {
		background-color: $white_1;
	}
	&__pane {
		background-color:$white_3;
		color:$outline;
		font-size:90%;
		line-height: 1.7;
		padding: 1.9375rem 2.25rem 1.8125rem;
		@include for-tablet-up {
			padding:3.9375rem 3.6875rem 2.8125rem;
		}
		&.active {
			background-color:$white_1;
		}
		h1, h2, h3 {
			color: $accent_1;			
			font-size: 1.375rem;
			font-weight: 700;
			margin-bottom: 1.6275rem;
			text-transform: none;
		}
	}
	&__info {
		padding-left:0;
		padding-right:0;		
	}
}