.vidTab {
	padding:5.625rem 0 3.75rem 0;
	&__list {}
	&__item {}
	&__link {
		background-color:$accent_12;
		border: 0;
		color:$alto;
		margin-left: 0;
		padding: 1.5rem 2.5rem 1.5rem;
	}
	&__content {}
	&__pane {}
}