#page {
	&-f1-student-resources {
		.subsites {
			&__nav {
				li {
					&:last-of-type {
						a {
						    background-color: $bei_5;
						    color: $gray_8;
						}
					}
				}
			}
		}
		.imagebar {
			background-color: transparent;
			margin-top:0;
			&__image {
				filter: grayscale(40%);
			}
		}
	}
}