.schedule {
	@include for-tablet-up {
		padding-bottom: 4rem;
		padding-top: 4rem;
	}
	&__title {
		margin-bottom: 1.875rem;
	}
	&__label {
		color:$accent_13;
		font-size: 1.125rem;
		margin-bottom: 0;		
	}
	&__table {
		margin-top: 1rem;
	}
	&__headers {
		background-color: $accent_2;
	    border-bottom: 0.0625rem solid $alternate;
	    border-right: 0.0625rem solid $alternate;
		color:$alternate;
		font-size: 1rem;
		font-weight: 400;
	}
	&__data {
		background-color:$accent_5;
		color:$accent_13;
		&:first-of-type:before {
		    margin-right: 0;
		}
		@include for-tablet-up {
		    border-right: 0.0625rem solid $alternate;
		    border-bottom: 0.0625rem solid $alternate;
		}
	}
}