.single-programs {
	@import 'subjects';
	@import '../../components/tabbed/home';
	@import '../../components/schedules/tables';
	@import '../../layout/featured';
	.block {
	    padding:0 0 2rem;
		&__desc {
		    align-items: center;
		    border: .5rem solid $accent_7;
		    color:$accent_7;
		    display: flex;
		    font-size: 2rem;
		    height: 8rem;
		    text-align: center;
		    padding: 6.5rem 2rem;
		}
	}
}