@import '../../components/subjects/subjects';

.subjects {
    background-color: $accent_1;
    color: $alternate;
    fill: $alternate;
    padding-bottom: 7rem;		
    padding-top: 4rem;
    &__img {
    	margin-bottom:1.8125rem;
    }
}